<div class="container mt-4">
    <div class="row">
      <div class="col-sm">
       <img src="../assets/Vectors/undraw_mobile_login_ikmv.svg" alt="">
      </div>
      <div class="col-sm campos">
          <h1>Registro</h1>
          <br>
          <br>
         
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo Electrónico</label>
              <input type="email" class="form-control" placeholder="Ingrese su Correo Electrónico">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" placeholder="Ingrese su Contraseña">
            </div>
            <div class="row mb-4">
                <div class="col-sm">
                    <div>
                        <span class="center">¿Ya tienes cuenta? <a routerLink="/login">Inicia Sesión</a></span>
                        <!-- <hr> -->
                    </div>
                </div>
              </div>
           
            <button type="submit" class="btn btn-primary">Registrarme</button>
          </form>
         
      </div>
    </div>
  </div>